h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: #FFF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 900;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
}

body {
  font-family: 'Montserrat';
}

/**********************************ID*****************************************/
#title {
  background-color: #FF4C68;
}

#features {
  text-align: center;
  padding-top: 5%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding: 0 0 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

#cta {
  background-color: #ff4c68;
}

#footer {
  text-align: center;
  background-color: #fff;
  font-size: 0.75rem;
}
/*********************************CLASS***************************************/
.container-fluid {
  padding: 3% 15% 7%;
}



/* Navbar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat';
  font-weight: 100;
  font-size: 1.2rem;

}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
}

.title-image-div {
  position: relative;
}

/* Features */

.feature-div {
  padding: 5%;
}

.features-text {
  color: #8f8f8f;
}

.feature-image {
  font-size: 4rem;
  color: #ef8172;
  margin: 0 0 6%;
}

.feature-image:hover {
  color: #ff4c68;
}

/* Testimonials */

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

/* Press */

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */

.pricing-column {
  padding: 3% 2%;
}

/* CTA */

.cta {
  text-align: center;
}

.cta-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 3rem;
  line-height: 1.5;
  padding: 7% 15% 0;
}

/* Footer */

.footer-icon {
  margin: 10% 0.5% 0.5%;
}

.footer-text {
  margin-bottom: 7%;
}

/* Media Query */

@media (max-width: 1028px){

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
